.WrongWords{
    position: relative;
    text-align: center;
    display: grid; 
    /* overflow: hidden; */
    margin: 0 20px;
}
.WrongWords div{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: max-content;
    font-family: 'Noto Sans KR', sans-serif;
    white-space: pre-wrap;
}